.container-side-by-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.block.teaser {
    &.side-by-side-left,
    &.side-by-side-right {
        all: initial;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 85vw;

        .image-wrapper {
            all: initial;
            flex: 2;
            overflow: hidden;

            * {
                height: 100%;
            }

            picture {
                display: block;

                .image {
                    display: block;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }

            }

        }

        .content {
            all: initial;
            background-color: black;
            color: white;
            font-family: sans-serif;
            flex: 1;
            padding: 32px;
        }

        @media(width >= 900px) {
            &.side-by-side-left {
                flex-direction: row;
            }

            &.side-by-side-right {
                flex-direction: row-reverse;
            }
        }

    }

}
